## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [1]:
import os
import numpy as np
import pandas as pd

/Users/nagi/python_project/my_pro/3rd-ML100Days/env/lib/python3.6/site-packages/pandas/compat/__init__.py:84: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
# 設定 data_path
dir_data = '/Users/nagi/python_project/my_pro/3rd-ML100Days/homework/day4_data/'

In [3]:
f_app = os.path.join(dir_data, 'HomeCredit_columns_description.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app,encoding='utf-8')

Path of read in data: /Users/nagi/python_project/my_pro/3rd-ML100Days/homework/day4_data/HomeCredit_columns_description.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [4]:
app_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 5 columns):
Unnamed: 0     219 non-null int64
Table          219 non-null object
Row            219 non-null object
Description    219 non-null object
Special        86 non-null object
dtypes: int64(1), object(4)
memory usage: 8.7+ KB

#### 列出所有欄位

In [5]:
app_train.columns.to_list()

['Unnamed: 0', 'Table', 'Row', 'Description', 'Special']

#### 截取部分資料

In [6]:
app_train.iloc[0:5, 0:5]

,Unnamed: 0,Table,Row,Description,Special
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [7]:
app_train.describe()

       Unnamed: 0
count  219.000000
mean   111.981735
std     63.395726
min      1.000000
25%     57.500000
50%    112.000000
75%    166.500000
max    221.000000

In [8]:
app_train.shape

(219, 5)